<div class="main col-md-3">
  <div class="sidebar">
    <div class="block clearfix">
      <h4 class="title">Products</h4>
      <div class="separator-2"></div>
      <nav>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ site.url }}/anti-slip-tape/">Anti Slip Tape</a></li>
          <li><a href="{{ site.url }}/anti-slip-sticker/">Anti Slip Sticker</a></li>
          <li><a href="{{ site.url }}/skateboard-grip-tape/">Skateboard Grip Tape</a></li>
          <li><a href="{{ site.url }}/bathtub-anti-slip-sticker/">Bathtub Anti Slip Sticker</a></li>
          <li><a href="{{ site.url }}/anti-slip-mat/">Anti Slip Mat</a></li>
          <li><a href="{{ site.url }}/other-products/">Other Products</a></li>
        </ul>
      </nav>
    </div>
    <div class="block clearfix">
      <h4 class="title">Contact Us</h4>
      <div class="separator-2"></div>
      <nav>
        <ul class="list-icons">
          <li><i class="fa fa-envelope-o pr-10"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-skype pr-10"></i><a href="skype:{{ site.skype }}?call" onclick="return skypeCheck();">{{ site.skype }}</a></li>
          <li><i class="fa fa-phone pr-10"></i><a href="tel:{{ site.tel }}">{{ site.tel }}</a></li>
          <li><i class="fa fa-fax pr-10"></i>{{ site.fax }}</li>
        </ul>
      </nav>
    </div>
  </div>
</div>