<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/yigu-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="YIGU">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet application %}
  </head>
  <body class="no-trans front-page transparent-header">
    <div class="scrollToTop circle"><i class="fa fa-chevron-up"></i></div>
    <div class="page-wrapper">
      <div style="background:url(/images/assets/header-img.jpg)">
        <div class="container">
          <div class="col-sm-4">
            <div id="logo" class="logo"><a href="{{ site.url }}"><img id="logo_img" src="/images/assets/yigu-logo.png" alt="毅固Logo"></a></div>
          </div>
          <div class="col-sm-6">
            <img src="/images/assets/header-txt.png" alt="YIGU Logo">
          </div>
        </div>
      </div>
      <div class="header-container">
        <header class="header dark centered clearfix" style="background-color:#282425">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <div class="main-navigation animated with-dropdown-buttons">
                    <nav class="navbar navbar-default" role="navigation">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li class="{% if page.category == 'home' %}active{% endif %}"><a href="{{ site.url }}">HOME</a></li>
                            <li class="{% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">ABOUT YIGU</a></li>
                            <li class="{% if page.category == 'products' %}dropdown active{% else %}dropdown{% endif %}">
                              <a class="dropdown-toggle" data-toggle="dropdown">PRODUCTS</a>
                              <ul class="dropdown-menu">
                                <li><a href="{{ site.url }}/anti-slip-tape/">Anti Slip Tape</a></li>
                                <li><a href="{{ site.url }}/anti-slip-sticker/">Anti Slip Sticker</a></li>
                                <li><a href="{{ site.url }}/skateboard-grip-tape/">Skateboard Grip Tape</a></li>
                                <li><a href="{{ site.url }}/bathtub-anti-slip-sticker/">Bathtub Anti Slip Sticker</a></li>
                                <li><a href="{{ site.url }}/anti-slip-mat/">Anti Slip Mat</a></li>
                                <li><a href="{{ site.url }}/other-products/">Other Products</a></li>
                              </ul>
                            </li>
                            <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">CONTACT US</a></li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                  </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      {{ content }}
      <footer id="footer" class="clearfix dark">
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2009-2016 Yigu Anti-Slip Products Co., Ltd. | <a href="{{ site.url }}/Sitemap.xml">Sitemap</a> | Website design by <a href="http://gdky.net" target="_blank">OSW</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    {% javascript application %}
  </body>
</html>
